/*     body {
        background-color: burlywood;
        margin: 20px;
    } */

    *{
        margin: 0;
        padding: 0;
    } 

    header{
        background-color: #007acc;
        color: white;
        padding: 20px; 
        text-align: center;
    }   

    nav ul {
        list-style-type: none;
        display: flex; 
        justify-content: center; 
        margin-top: 10px; 
    }   
    nav ul li {        
        margin: 0 15px; 
    } 

    nav ul li a {
        color: white; 
        text-decoration: none; 
        font-weight: bold; 
    }

    h1 {
        color: blue;
    }     
    h2 {
        color: green;
    } 
    h3 {
        color: orange;
    }       
    h4 {
        color: red;
    }   

    .titulo {
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        color: gold;
    } 

    .divdeh {
        background-color: rgb(103, 224, 141);
    }

