    body {
        background-color: burlywood;
        margin: 20px;
    }
    h1 {
        color: blue;
    }     
    h2 {
        color: green;
    } 
    h3 {
        color: orange;
    }       
    h4 {
        color: red;
    }  

    div {
        border: 2px solid rgb(6, 236, 129);
    } 

    .miestilo{ 
        color: silver;
    }
     
    #otro_estilo{ 
        color: purple;
    }